@charset "UTF-8";
@import '../common.css';
div.main-content > article{
	margin:10px;
}
div > article > h2{
	margin-top: 0;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-left: solid 10px #0000CD;
    padding: 7px;
    border-radius: 5px;
    width: fit-content;
    color: #000000;
    background: #D2D2FF;
}

.FAQ_div{
  width:100%;
  position:static;
  float:left;
}

.FAQ_div > details{
  width: 90%;
  max-width: 600px;
  margin: 0 auto ;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
  border-left:0px;
  position:relative;
}


details summary {
  background: #ffff99;
  padding: 5px;
  border: 5px solid transparent;
  outline: none;
  cursor: pointer;
  transition: margin 200ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}