@charset "UTF-8";
img.introbackground{
	width:100%
}

div.main-content{
    display: flex;
    flex-direction: column;
}
div#map{
	margin-top:100px;
}
img.bus{
	width:150px;
	height:150px;
}
div.bus{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.sort{
	display:flex;
	align-items:center;
    flex-direction: column;
}