@charset "UTF-8";
img.introbackground{
	width:100%
}

div.main-content{
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
div#map{
	margin-top:40px;
}
img.bus{
	width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid;
    padding: 14px;
    border-color: blueviolet;
    margin: 20px;
    background-color: #0a58ca63;
}
div.bus{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.sort{
	display:flex;
	align-items:center;
    flex-direction: column;
}
div.address{
	text-align:center;
	margin-top:40px; 
	border: 3px ;
	padding:7px;
	border-style:dashed double;
}

