@charset "UTF-8";
@import '../common.css';
div.main-content{
	font-family: 'IBM Plex Sans KR', sans-serif;
}
.placeLeft{
	position:relative;
	float: left;
	margin: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;
    padding-bottom: 50px;
}

@media (min-width:800px){
	.placeLeft{
		position:fixed;
		width: 440px;
	}
}
@media (min-width:800px){
	.placeRight{
	margin-left: 460px;
	}
}
main{
	display:flex;
	flex-direction:column;
}
@media (Min-width:800px){
	main{
	display:flex;
	flex-direction:row;
	}
}
span.line{
	display: block;
	width: 100px;
	height: 1px;
	background-color: #9c9c9c;
	margin: 15px 0px 35px;
	transition: 0.8s;
    transition-delay: 0.6s;
}
button.goReservation{
	width: 124px;
	height: 40px;
	background-color: #a3a1a1;
    color: #e3dede;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: 0.25s;
    border: none;
    display: inline-block;
    font-weight: 600;
}
button.goReservation:active {
    transform: scale(1.5);
}
button.goReservation:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
/* .right-img{ */
/* 	width: 100%; */
/* } */
.placeRight img {
	position: relative;
	display: block;
	max-width: 700px;
	max-height:400px;
	margin: 40px;
	width:80%;
}
main{
	margin:20px;
}
/* 스크롤바 만들기 */
.placeLeft::-webkit-scrollbar {
	width:5px;
	background-color:grey;
}
.placeLeft::-webkit-scrollbar-thumb{
	background-color:#2f3542;
	border: 1px solid transparents;
	border-radius:10px;
	height:20%;
}

div.button-center {
	display:flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

