@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap')
	;
.main-content{
	  font-family: 'IBM Plex Sans KR', sans-serif;
}

.searchSection form.searchForm{
	background-color: pink;
	text-align:center;
	boarder-radius: 10px;
}

.searchSection form.searchForm select{
	width:200px;
	
}
.searchSection form.searchForm input{
	width:200px;
	
}
section.container > article.content h3{
	color:#a8085e;
	font-size: 32px;
}

section.container > article.content{
	background-color:#a1e6d5;
	text-align: center;
}

section.container > article.content table.tbl th{
	background-color:#C4D0D7 ;
	border:1px solid #735f6a;
	color:#467592;
}

section.container > article.content table.tbl td{
	border:1px solid #735f6a;
}

section.container > article.content table.tbl tr:hover{
	background-color:white;
}

div.main-content > header {
	margin: 10px;
}

.title h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  font-family: 'IBM Plex Sans KR', sans-serif;
}
.title h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 55px;
  background-color: #790e8b;
}
.title h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 2px;
  width: 95%;
  max-width: 288px;
  background-color: #333;
}

.sub-title{
	margin-top: 0;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-left: solid 10px #8A66AE;
    padding: 1rem;
    padding-top:7px;
    padding-bottom:7px;
    border-radius: 5px;
    width: fit-content;
    color: #000000;
    background: #F8E8FF;
    font-weight:500;
    font-size:20px;
}
