@charset "utf-8";
@import '../common.css';
nav.pagination {
	justify-content: center;
}

ul.pagination {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}

th{
	white-space: nowrap
}

.title {
	margin: 10px;
}

@media (max-width: 800px) {
  .hidden-table {
    display: none;
    visibility: hidden;
    width: 0%;
  }
}

table.table{
	max-width: 100%;
	width: 100%;
}