* {
  box-sizing: border-box;
}

.select_date_container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
	border-bottom:double;
	border-width:5px;
	border-color:rgba(0,0,0,0.3);
}
@media (Min-width:1200px){
	.select_date_container{
		display: flex;
	    flex-direction: row;
	    align-content: flex-start;
	    flex-wrap: nowrap;

	}
}
@media (Max-width:500px) and (Min-width:800px){
	.select_date_container{
		margin-left:100px;
	}
}

.sec_cal {
  width: 80%;
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  margin-left:10px;
  font-family: "NotoSansR";
  
}
@media (Min-width:800px){
	div.sec_cal{
		margin-left: 100px;
	}
}
@media (Min-width:1200px){
	div.sec_cal{
		border-right:double;
		border-width:5px;
		border-color:rgba(0,0,0,0.3);
	}
}
@media (Max-width:1200px){
	div.sec_cal{
		border-bottom:double;
		border-width:5px;
		border-color:rgba(0,0,0,0.3);
	}
}

.usage_rules {
  margin: 0 auto;
  font-family: "NotoSansR";
  text-align: left;
}

.sec_cal .cal_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
}

.sec_cal .cal_nav .year-month {
  width: 300px;
  text-align: center;
  line-height: 1;
}

.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  display: block;
  width: 50px;
  height: 78px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 20px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% / 7);
  text-align: left;
  color: #999;
  font-size: 12px;
  text-align: center;
  border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.current:hover {background: rgb(223, 170, 170);}

.current.active {background: rgb(223, 170, 170);}



.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n -6) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
  color: #ddd;
}

section {
  margin: 1em 1em;
}

@media screen and (max-width: 650px) {
  .select_date_container {
    flex-direction: column;
    align-items: space-between;
  }
  .usage_rules {
/*     display: none; */
    margin: 0 0;
    font-family: "NotoSansR";
    text-align: left;
  }
}
/* 모바일용 스크롤바 만들기 */
table.table { 
	max-width: 100%;
	width: 100%;
}
.select_room_container{
	overflow-x: auto;
	white-space: nowrap;
}
.select_option_table{
	overflow-x: auto;
	white-space: nowrap;
}
.usage_rules{
	overflow-x: auto;
	white-space: pre-warp;
}
.usage_rules > pre{
	white-space:pre-wrap;
	
}
/* 소재목 꾸미기 */
p.h5{
	margin-top: 0;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-left: solid 10px #8A66AE;
    padding: 7px;
    border-radius: 5px;
    width: fit-content;
    color: #000000;
    background: #F8E8FF;
}