* {
  box-sizing: border-box;
}

.select_date_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}


.sec_cal {
  width: 100%;
  min-width: 550px;
  margin: 0 auto;
  font-family: "NotoSansR";
}
.usage_rules {
  width: 40%;
  margin: 0 auto;
  font-family: "NotoSansR";
  text-align: justify;
}

.sec_cal .cal_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  height: 5vh;
}

.sec_cal .cal_nav .year-month {
  width: 300px;
  text-align: center;
  line-height: 1;
}

.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  display: block;
  width: 50px;
  height: 48px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 40px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  text-align: left;
  color: #999;
  font-size: 12px;
  text-align: center;
  border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.current:hover {background: rgb(223, 170, 170);}

.current.active {background: rgb(223, 170, 170);}



.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height:70vh;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n -6) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
  color: #ddd;
}

section {
  margin: 1em 1em;
}

@media screen and (max-width: 650px) {
  .select_date_container {
    flex-direction: column;
    align-items: space-between;
  }
  .usage_rules {
    display: none;
    margin: 0 0;
    font-family: "NotoSansR";
    text-align: left;
  }
}